<div class="col-lg-3 text-right col-md-3">
    <ul class="nav-right">
        <li class="cart-icon"><a href="{% url 'cart'%}">
                <i class="icon_bag_alt"></i>
                <span>{{ cart.total_products }}</span>
            </a>
            {% if products %}
            <div class="cart-hover">
                <div class="select-items">
                    <table>
                        <tbody>
                        {% for item in products %}
                            <tr>
                                <td class="si-pic"><img src="{{item.product.image.url}}" width="85px" height="85px"  alt=""></td>
                                <td class="si-text">
                                    <div class="product-selected">
                                        <p>${{item.product.price}} x {{item.qty}}</p>
                                        <h6>{{tem.product.title}}</h6>
                                    </div>
                                </td>
                                <td class="si-close">
                                    <a href="{% url 'delete-from-cart' slug=item.product.slug %}"> <i class="ti-close"></i> </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="select-total">
                    <span>total:</span>
                    <h5>${{total}}</h5>
                </div>
                <div class="select-button">
                    <a href="{% url 'cart'%}" class="primary-btn view-card">VIEW CARD</a>
                    <a href="#" class="primary-btn checkout-btn">CHECK OUT</a>
                </div>
            </div>
            {% endif %}
        </li>
        {% if cart.final_price != 0 %}
        <li class="cart-price">${{ cart.final_price }}</li>
        {% else %}
        <li class="cart-price">$0</li>
        {% endif %}
    </ul>
</div>